@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
